body {
  background-color: #222222;
  color: white;
  text-align: center;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.index *:not(h1) {
  overflow: hidden;
}
.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

a { color: white; text-decoration: none; }

.full-page {
  width: 100vw;
}

/*splash page */

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}


.background-spiral {
  position: absolute;
  z-index: -1;
  min-width: 100vw;
}

.top-spiral {
  top: 0px;
  left: 0px;
}

.bg-spiral-1 {
  margin-top: 0vh;
}

.bg-spiral-2 {
  margin-top: 10vh;
}

.bg-spiral-3 {
  margin-top: 20vh;
}

.bg-spiral-4 {
  margin-top: 30vh;
}

.bg-spiral-5 {
  margin-top: 40vh;
}
.bg-spiral-6 {
  margin-top: 50vh;
}

.bg-spiral-7 {
  margin-top: 60vh;
}

.bg-spiral-8 {
  margin-top: 70vh;
}

.bg-spiral-9 {
  margin-top: 80vh;
}

.container {
  flex: 1;

}

.circle-wrapper {
  /* r: 40%;
  cx: 50%;
  cy: 50%;
  fill: #333333;
  stroke: #fff;
  stroke-width: .5px; */
  border: 2px solid white;
  width: 467px;
  height: 467px;
  border-radius: 50%;
  background: #222222;
  animation: circleborder 18s infinite linear;
  /* animation-delay: 2s; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}


h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 44px;
  padding-bottom: 10px;
  width: 60%;
  border-bottom: 1px solid white;
  animation: hidetext1 18s linear infinite;
  /* animation-delay: 2s; */

}

h1 span {
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 24px;
  animation: hidetext1 18s linear infinite;
  /* animation-delay: 2s; */
}

h2 span {
  display: block;
  margin: 0;
  padding: 0;
}

#hidden-text {
  opacity: 0;
  filter: alpha(opacity=0);

  animation: hidetext2 18s linear infinite;
  /* animation-delay: 2s; */
  color: #14d80f;
  position: absolute;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

#hidden-text span {
  display: block;
  padding: 5px;
}


/*main page*/


.header, main {
  background-color: #343434;
}

.header {
  border: 1px solid #14d80f;
  border-radius: 50%;
  width: 200vw;
  height: 500px;
  overflow: hidden;
  top: 0;
  left: -50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -380px;
  min-width: 500px;
  position: relative;
}

.primary h1 {
  color: #14d80f;
  border: none;
}

.primary h2 {
  font-size: 16px;
  margin-top: 5px;
  padding: 0;
  font-weight: bold;
}

.contact-nav {
  display: block;
}

.contact-nav li {
  display: inline-block;
}

.contact-nav img {
  width: 30px;
}

.contact-nav a:hover {
  filter: invert(53%) sepia(20%) saturate(6385%) hue-rotate(83deg) brightness(116%) contrast(97%);
  transition: .5s all;
}

.filter-green{
  filter: invert(53%) sepia(20%) saturate(6385%) hue-rotate(83deg) brightness(116%) contrast(97%);
}

.filter-white {
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(134deg) brightness(111%) contrast(100%);
}

main {
  margin-top: 25px;
  border-top: 1px solid #14d80f;
  border-bottom: 1px solid #14d80f;
  padding: 10px 15px;
  text-align: left;
}

.page-nav {
  font-size: 30px;
  font-weight: bold;
  color: #8a8a8a;
  display: flex;
  justify-content: space-evenly;
}

.page-nav li {
  margin-bottom: 40px;
}

.page-nav li:hover {
  color: #14d80f;
  cursor: pointer;
  transition: .5s all;
}

.page-nav .active, .page-nav li.active, .page-nav li.active a, .page-nav li a:hover  {
  color: #14d80f;
}

.page-nav li a:hover {
  transition: .5s all;
}

.page-nav li a {
  text-decoration: none;
  color: #8a8a8a;
}

.data {
  font-size: 14px;
}

.about .mobile-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.headshot {
  display: block;
  width: 130px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: white;
  margin-left: 50px;
  background: url('headshot.png') no-repeat center center;
  background-size: contain;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  flex: 1;
}

.data p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.special {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #14d80f;
  font-weight: bold;
  font-size: 16px;
}

.data {
  border-top: 1px solid white;
  margin-top: 30px;
  margin: 15px;
}

.data.about {
  border: none;
}

h4 {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0px 20px;
  text-align: center;
}

.tech-stacks {
  display: flex;
  justify-content: space-evenly;
}

.tech-stacks .tech-type {
  text-decoration: underline;
  font-weight: bold;
}

.experience li {
  font-size: 14px;
}

.experience li:last-child {
  margin-bottom: 45px;
}

.resume-button-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.resume-button {
  text-decoration: none;
  padding: 10px;
  border: 1px solid #14d80f;
  background-color: #222222;
  color: white;
  font-weight: bold;
}

.resume-button:hover {
  color: #14d80f;
  transition: .5s all;
}

/* projects page */


.project-description {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.projects h3 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.projects .screenshot {
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
}

.projects .special {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.projects .special:hover {
  text-decoration: underline;
  transition: .5s all;
}

.projects .project-tech {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

@keyframes circleborder {
  0% { border: 2px solid white; }
  45% { border: 2px solid white; }
  50% { border: 2px solid #14d80f; }
  88% { border: 2px solid #14d80f; }
  96% { border: 2px solid white; }
  100% { border: 2px solid white; }
}

@keyframes hidetext1 {
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
  55% { opacity: 0; }
  82% { opacity: 0; }
  86% { opacity: 1.0; }
  100% { opacity: 1.0; }
}

@keyframes hidetext2 {
  0% { opacity: 0; }
  55% { opacity: 0; }
  60% { opacity: 1.0; }
  78% { opacity: 1.0; }
  81% { opacity: 0; }
  100% { opacity: 0; }
}

@media only screen and (min-width: 768px) {

  .circle-wrapper {
    width: 467px;
    height: 467px;
}
  .projects main {
    padding-left: 10%;
    padding-right: 10%;
  }

  .headshot {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  h1 {
    font-size: 66px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1224px) {

  .circle-wrapper {
    width: 700px;
    height: 700px;
}
  .primary h2 {
    position: relative;
    bottom: 47px;
    left: 35vw;
  }

  .primary .contact-nav {
    position: relative;
    bottom: 73px;
    right: 35vw;
  }

  .primary h1 {
    flex: 1;
    margin-top: 800px;
    font-size: 66px;
    line-height: 0px;
  }

  .desktop-flex {
    display: flex;
  }

  .tech, .experience {
    flex: 1;
  }

  .projects main {
    padding-left: 20%;
    padding-right: 20%;
  }

  .about .mobile-flex {
    display: block;
  }

  .about .desktop-flex {
    flex-direction: column;
    position: relative;
  }

  .headshot {
    position: absolute;
    top: 0;
    right: 50px;
  }

  .desktop-reduce {
    margin-right: 20%;
  }

  .contact-nav li {
    margin-right: 8px;
  }
}


  
@media only screen and (max-width: 468px), (max-height: 468px) {
  .circle-wrapper {
    height: 320px;
    width: 320px;
  }
}