.stroke-black {
  /* stroke-dasharray: 1277;
  stroke-dashoffset: 1277; */
  /* animation: dash 14s linear infinite; */
  stroke-width: 1px;
  stroke: #14d80f;
}

@keyframes dash {
  0% { stroke-dashoffset: 1277; }
  40% { stroke-dashoffset: 0; }
  53% { stroke: #14d80f; stroke-dashoffset: -1277; }
  100% { stroke-dashoffset: -1277; }
}

@media only screen and (min-width: 386px) and (min-height: 386px) {
  .stroke-black {
    stroke-width: 0.5px;
  }
}

@media only screen and (min-width: 612px) {
  .stroke-black {
    stroke-width: 0.3px;
  }
}